<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Display / list file</title>
</head>
<body>
  <h1>List Files</h1>
  <h3>Here are the files you can find in the folder "files":</h3>
  <ul>
    <% lof.forEach((file) => { %>
      <li><%= file %></li>
    <% }); %>
  </ul>
  <h1>View Files</h1>
  <form action="/get_file" method="POST">
    <input type="text" name="filename" />
    <input type="submit" value="Get a file">
  </form>
</body>
</html>
